body {
    background-color: aliceblue ;
}
h1 {
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 5pt;
    font-family: 'Ink Free';
    font-size: 30pt;
    font-weight: bold
}
h2 {
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 5pt;
    font-family: 'Aptos';
    font-size: 20pt;
    font-weight: lighter;
}
h3 {
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 15pt;
    font-family: 'Comic Sans MS';
    font-size: 15pt;
    font-weight: lighter;
}
pre {
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 15pt;
    font-family: 'Arial';
    font-size: 11pt;
    font-weight: none;
}
p {
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 4pt;
}