body {
    background-color: aliceblue;
}
h1 {
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
    font-family: 'Ink Free';
    font-size: 30pt;
    font-weight: bold;
    background-color:  rgb(127, 187, 240);
    color: aliceblue;
    text-align: center;
}
pre {
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 2%;
    font-family: 'Arial';
    font-size: 11pt;
    font-weight: none;
}
.saltos{
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 0.5%;
    font-family: 'Arial';
    font-size: 17pt;
    font-weight: lighter;
    
}
.ComicSansMT {
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 2%;
    font-family: 'Comic Sans MS';
    font-size: 15pt;
    font-weight: lighter;
}
.TituloCanción {
    padding-top: 0%;
    padding-left: 0%;
    font-size: 12pt;
    font-weight: bolder;
}
